
  <div id="selection">
        <div id="selection-inner">
            <div id="container">
                <div class="buttons">
                       <div class="btn-group" data-toggle="buttons">
                        
                           <button type="button" class="btn btn-primary"><a href = '/button1'>Location</a></button>
                           <button type="button" class="btn btn-primary" onclick="/button2">Product Type</button>
                           <button type="button" class="btn btn-primary" onclick="/button3">Member</button>
                           
                          <!--<a href = '/button1'><button type="button" class="btn btn-primary" href='/button1'>Location</button></a>-->
                       </div><!-- end button group -->
                </div>
            </div>
        </div>
    </div>

 